<% layout('layout/boilerplate') %>

<div class="register-container">
    <div class="contact-info">
        <h1>Contact Us</h1>
        <div>
            <h2>Need help planning your trip?</h2>
            <h3>Our experts are here for you</h3>
            <p>plan@camp-il.com</p>
            <p>03-6448282</p>
        </div>
        <div>
            <h2>Technical issues?</h2>
            <h3>Our technical support is here for you</h3>
            <p>tech@camp-il.com</p>
            <p>03-6448280</p>
        </div>
    </div>
    
    <div class="register-img">
        <img id="register-img" src="https://images.unsplash.com/photo-1613487700156-bbde37f69132?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=416&q=80" alt="">
    </div>

</div>